<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Model\PaymentInformationManagement">
		<plugin name="Chalhoub_AttributesPayment_Plugin_Magento_Checkout_Model_PaymentInformationManagement" type="Chalhoub\AttributesPayment\Plugin\Magento\Checkout\Model\PaymentInformationManagement" sortOrder="10" disabled="false"/>
	</type>
</config>
